/*

Sonic Template

http://www.templatemo.com/tm-394-sonic

*/

.main-menu, .responsive-menu ul, .social-member, .progess-bars, .first-footer .social-footer ul { padding: 0; margin: 0; list-style: none; }

}
body { font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif; color: #777777; font-weight: 300; font-style: normal; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }

.site-footer {
  float: left;
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.entry-content{
    padding: 5% 7%;
    margin-bottom: 100px;
    font: 24px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif;
}

.wd_list{
	text-align: center;
	width: 100%;
	padding-left: 0%;
}

table {
    font-family: arial, sans-serif;
	Font-size: 18px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a, a:hover, a:focus { text-decoration: none; -webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main-content, .full-width-slider { float: right; width: 77%; }

.section-content { padding: 0 7%; margin-bottom: 100px; }

.section-title { border-top: 4px solid; margin-bottom: 60px; }
.section-title h2 { display: inline-block; padding: 20px 35px; color: white; text-transform: uppercase; font-weight: 300; margin: 0; font-size: 20px; }

#about .section-title { border-color: #e09d1a; }
#about h2 { background-color: #e9b144; }

#services .section-title { border-color: #7c1fe5; }
#services h2 { background-color: #974dea; }

#portfolio .section-title { border-color: #1dcb7c; }
#portfolio h2 { background-color: #38e395; }

#contact .section-title { border-color: #cb1d62; }
#contact h2 { background-color: #e3387c; }

a.largeButton { color: white; text-transform: uppercase; font-weight: 700; font-size: 14px; display: inline-block; padding: 10px 20px; border-bottom: 3px solid; }

.homeBgColor { background: #38a9e3; }
.homeBgColor:hover { background-color: #16709f; }

.portfolioBgColor { background: #38e395; }
.portfolioBgColor:hover { background-color: #169f60; }

.contactBgColor { background: #e3387c; }
.contactBgColor:hover { background-color: #9f164d; }

a.largeButton.homeBgColor { border-color: #16709f; }

a.largeButton.portfolioBgColor { border-color: #169f60; }

a.largeButton.contactBgColor { border-color: #9f164d; }

#main-sidebar { float: left; width: 23%; height: 100%; position: fixed; background-color: #495054; color: white; }

.logo { margin: 100px 0; background-color: #000030; padding: 25px 40px; }
.logo a { color: white; }
.logo a h1 { text-transform: uppercase; font-size: 30px; margin: 0; font-weight: 800; }
.logo span { color: #bee3f6; font-size: 13px; }

.main-menu { text-align: center; }
.main-menu li { margin-bottom: 1px; }
.main-menu li a { color: white; text-transform: uppercase; display: block; border-left: 4px solid; padding: 15px 30px; background-color: #383e41; -webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in; }
.main-menu li a:hover { background-color: #34393b; }

li.home a { border-color: #2F4F4F; }
li.home a.active { color: #38a9e3; }

li.about a { border-color: #2F4F4F; }
li.about a.active { color: #e9b144; }

li.services a { border-color: #2F4F4F; }
li.services a.active { color: #974dea; }

li.portfolio a { border-color: #2F4F4F; }
li.portfolio a.active { color: #38e395; }

li.contact a { border-color: #2F4F4F; }
li.contact a.active { color: #e3387c; }

a.menu-toggle-btn { width: 100%; height: 60px; background-color: #38a9e3; text-align: center; line-height: 60px; display: block; color: white; }
a.menu-toggle-btn i { line-height: 60px; }

.responsive-navigation { position: relative; width: 100%; display: block; z-index: 9999; }

.responsive-menu { display: none; background-color: #495054; }
.responsive-menu ul li a { color: white; text-transform: uppercase; display: block; padding: 20px; border-bottom: 1px solid #5a6267; }

.main-slider { width: 100%; height: 270px; }

.flexslider .slides { height: 270px; }

.slider-caption { position: absolute; vertical-align: middle; width: 100%; text-align: center; height: 100; z-index: 8; color: white; top: 50px; }
.slider-caption h2 { font-size: 48px; text-transform: uppercase; font-weight: 800; margin-bottom: 30px; }
.slider-caption p { font-size: 16px; text-transform: uppercase; letter-spacing: 2px; width: 50%; margin: 0 auto 30px auto; line-height: 1.8em; }

.flexslider { background-color: black; height: 270px; overflow: hidden; margin: 0; }

.flexslider img { position: relative; opacity: 0.5; width: 100%; z-index: 7; }

.flex-control-nav { bottom: 15px; z-index: 9; }

.flex-control-paging li a { background-color: white; border: 2px solid black; opacity: 0; }
.flex-control-paging li a:hover { opacity: 1; background: white; }
.flex-control-paging li a.flex-active { opacity: 0; background: white; }

.welcome-text { padding: 60px; text-align: center; }
.welcome-text a { color: #38a9e3; }
.welcome-text h2 { color: #38a9e3; font-weight: 300; text-transform: uppercase; font-size: 32px; }
.welcome-text p { color: #aaaaaa; }

.member-item { overflow: hidden; height: auto; }
.member-item:hover .overlay { opacity: 1; visibility: visible; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.member-thumb { width: 100%; overflow: hidden; height: auto; position: relative; }
.member-thumb img { width: 100%; }
.member-thumb .overlay { position: absolute; top: 0; right: 0; opacity: 0; visibility: hidden; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }

.member-content { margin-top: 10px; overflow: hidden; text-align: center; }
.member-content h4 { text-transform: uppercase; font-size: 18px; color: #e9b144; }
.member-content p { color: #aaaaaa; font-size: 12; }

.social-member li { display: inline; float: left; width: 40px; height: 40px; background-color: #e9b144; text-align: center; margin-right: 1px; }
.social-member li a { display: block; line-height: 40px; color: white; }
.social-member li:hover { background-color: #e5a424; }

.our-story { margin-top: 80px; }
.our-story h3 { color: #e9b144; font-weight: 300; text-transform: uppercase; font-size: 24px; margin: 0 0 20px 0; }

.story-image { margin-top: 30px; overflow: hidden; }
.story-image img { width: 100%; height: auto; }

.service-item { background-color: #974dea; color: white; }
.service-item .service-icon { width: 25%; float: left; overflow: hidden; display: inline-block; text-align: center; margin-top: 30px; height: 100%; }
.service-item .service-content { width: 75%; overflow: hidden; text-align: center; padding: 20px 20px 20px 0; }
.service-item .service-content h3 { margin: 0; font-size: 20px; }

.our-skills { margin-top: 80px; }
.our-skills h3 { color: #974dea; font-weight: 300; text-transform: uppercase; font-size: 24px; margin: 0 0 20px 0; }

.progress-bar { background-color: #974dea; text-transform: uppercase; font-size: 12px; }

.portfolio-thumb { overflow: hidden; position: relative; }
.portfolio-thumb img { width: 100%; height: auto; }
.portfolio-thumb .overlay-p { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(56, 227, 149, 0.9); visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.portfolio-thumb .overlay-p a { position: absolute; top: 50%; margin-top: -12px; left: 50%; margin-left: -15px; color: white; }

.portfolio-item { margin-bottom: 40px; overflow: hidden; }
.portfolio-item:hover .overlay-p { visibility: visible; opacity: 1; }

.portfolio-title { width: 100%; text-align: center; }

.portfolio-title a { color: #38e395; font-size: 18px; text-transform: uppercase; }

.load-more { width: 100%; text-align: center; }

.map-holder { border: 1px solid #d5dbe0; padding: 6px; background-color: #fafafa; }
.google-map-canvas { height: 400px; }

.contact-form { margin-top: 60px; }
.contact-form input, .contact-form textarea { width: 100%; display: block; border: 1px solid #d5dbe0; padding: 10px 15px; outline: 0; }
.contact-form input { height: 46px; margin-bottom: 30px; }
.contact-form label { font-weight: normal; }
.contact-form label.required:after { content: "*"; color: red; margin-left: 5px; }

.submit-btn { margin-top: 30px; }

.first-footer { background-color: #495054; padding: 10px; text-align: center; border-left: 5px solid #313639; }
.first-footer .social-footer ul li { display: inline; }
.first-footer .social-footer ul li a { width: 40px; height: 40px; -webkit-border-radius: 3px; border-radius: 3px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ background-color: #313639; text-align: center; line-height: 40px; color: white; }

.bottom-footer { background-color: #313639; color: #949da2; padding: 15px 7% 16px 7%; }
.bottom-footer a { color: white; }
.bottom-footer { text-align: center; }

.language{
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0;
  padding-top: 57px;
  padding-bottom: 58px;
  background-color: #34393b;
  color: #fff;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block;
}

.language nav {
  display: inline-block;
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  }

.lista nav {
  display: inline-block;
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  }
  
/* prime */
.language li {
  float: left;
  list-style-type:none;
}

.language ul{
  padding-left: 0;
}

.primary li a {
  display: block;
  padding: 5px 5px;
  border-right: 1px solid #3D3D3D;
  text-decoration: none;
  color: #fff;
}

.primary li:last-child a {
  border-right: none;
  list-style: none;
  position: relative;
  text-align: center;
}

.primary li a:hover {
  color: #000;
}

.lista{
  padding-left: 0;
  padding-top: 25px;
  text-align: center;
}

.lista li {
  float: left;
  list-style-type:none;
  text-align: center;
}

.lista ul{
  padding-left: 0;
  font-size: 18px;
  text-align: center;
}

.letras li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #3D3D3D;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.letras li:last-child a {
  border-right: none;
  list-style: none;
  position: relative;
  text-align: center;
}

.letras li a:hover {
  color: #000;
}

.busca{
  padding-top: 78px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.search{ /* Geral */
float: right; /* Flutuando a esquerda, poderá também mudar para Right (Direita) e Left (Esquerda) */
margin-left: 0px;
margin-top: 18px; /* Margem superior, edite se precisar, - sobe e + desce  */
font-family: Tahoma, Tahoma; /* Fonte da letra que será escrita quando procurarmos por algo */
}

.searchbar{ /* Barra onde se digita */
height: 26px; /* Altura da barrinha */
width: 230px; /* Largura da barrinha */
margin-left:0px;
margin-top:-45px; /* Margem superior, edite se precisar, - sobe e + desce  */
margin-bottom:-18px; /* Margem inferior, edite se precisar, - sobe e + desce */
color: #363636; /* Cor da fonte da letra que será escrita quando procurarmos por algo */
border:solid 1px #ddd; /* Borda */
padding:3px 5px;
border-radius:2em; /* Bordas Arredondadas */
box-shadow:0 1px 0px rgba(0,0,0,.1); /* Sombra interna */
background: #fff; /* Cor do fundo */
background:-webkit-gradient(linear, left top, left bottom,from(#fff),to(#ededed));
background:-moz-linear-gradient(top, #fff, #ededed);
filter:progidXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed');
-ms-filter:progidXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed')
}

.searchbut{ /* Botão */
border:0 !important;
float: right;
background: #D9D9D9; /* Cor do fundo do botão */
cursor: pointer;
color:#fff; /* Cor do texto */
padding:0 5px 2px 5px;
height:26px; /* Altura do botão */
margin-left: 10px;
margin-top: -1px; /* Margem superior, edite se precisar, - sobe e + desce  */
margin-right: -35px; /* Margem direita, edite se precisar */
border-radius:25px;  /* Bordas Arredondadas */
box-shadow:0 0 2px #aaa; /* Sombra */
text-shadow:0 -1px #aaa; /* Sombra no texto Go */
}

.searchbut:hover { /* Botão Hover */
background:#191970; /* Cor do fundo do botão hover */
}

@media (max-width: 991px) { #main-content { width: 100%; }
  .first-footer { border-left: 0; }
  .flexslider .slides, .flexslider, .main-slider { height: auto; }
  .slider-caption h2 { font-size: 48px;}
  .service-item { margin-bottom: 30px; }
  .progess-bars { margin-top: 40px; }
  .slider-caption { top: 150px;}
  .language{ font-size: 14px; text-transform: uppercase; text-align: center;}
  .site-footer { position: fixed; margin-bottom: 0; bottom: 0; width: 100%; text-align: center;}}

@media (max-width: 767px) { #main-content { width: 100%; }
  .first-footer { border-left: 0; }
  .flexslider .slides, .flexslider, .main-slider { height: auto; }
  .slider-caption h2 { font-size: 48px;}
  .progess-bars { margin-top: 40px; }
  .slider-caption { top: 110px;}
  .language{ font-size: 14px; text-transform: uppercase; text-align: center;}
  .site-footer { position: fixed; margin-bottom: 0; bottom: 0; width: 100%; text-align: center;}}

@media (max-width: 700px) { #main-content { width: 100%; }
  .first-footer { border-left: 0; }
  .flexslider .slides, .flexslider, .main-slider { height: auto; }
  .slider-caption h2 { font-size: 48px; }
  .progess-bars { margin-top: 40px; }
  .slider-caption { top: 75px;}
  .language{ font-size: 14px; text-transform: uppercase; text-align: center;}
  .site-footer { position: fixed; margin-bottom: 0; bottom: 0; width: 100%; text-align: center;}}

@media (max-width: 581px) { #main-content { width: 100%; }
  .first-footer { border-left: 0; }
  .flexslider .slides, .flexslider, .main-slider { height: auto; }
  .slider-caption h2 { font-size: 36px; }
  .progess-bars { margin-top: 40px; }
  .slider-caption { top: 50px;}
  .language{ font-size: 14px; text-transform: uppercase; text-align: center;}
  .site-footer { position: fixed; margin-bottom: 0; bottom: 0; width: 100%; text-align: center;}}

@media (max-width: 380px) { #main-content { width: 100%; }
  .first-footer { border-left: 0; }
  .flexslider .slides, .flexslider, .main-slider { height: auto; }
  .slider-caption h2 { font-size: 28px; }
  .slider-caption p { font-size: 14px; margin-btop: 0px; }
  .progess-bars { margin-top: 40px; }
  .slider-caption { top: 10px;}
  .language{ font-size: 14px; text-transform: uppercase; text-align: center; padding-top: 20px; padding-bottom: 20px;}
  .site-footer { position: fixed; margin-bottom: 0; bottom: 0; width: 100%; text-align: center;}
  .lista ul{  padding-left: 0;  font-size: 16px;  text-align: center;}
  table {Font-size: 12px;}
  td, th {padding-left: 2px;padding-right: 2px;padding-top: 1px;padding-bottom: 1px;}
  .wd_list {text-align: center; padding-left: 0%;}
  .wd_list h1 {Font-size: 18px;}}