{% extends 'dicionario/layout.html' %}
{% load staticfiles %}

{% block content %}
	<div class="main-slider">
		<div class="flexslider">
			<ul class="slides">
	           
				<li>
					<div class="slider-caption">
						<h2>Diksyonè Kreyòl Ayisyen</h2>
						<p>Diksyonè Kreyòl / Pòtigè / Angle</p>
					</div>
					<img src="{% static 'images/slide1.png' %}" alt="Slide 1">
				</li>
	              
				<li>
					<div class="slider-caption">
						<h2>Diksyonè Kreyòl Ayisyen</h2>
						<p>Dicionário Crioulo / Português / Inglês</p>
					</div>
					<img src="{% static 'images/slide1.png' %}" alt="Slide 2">
				</li>
	              
	              			<li>
					<div class="slider-caption">
						<h2>Diksyonè Kreyòl Ayisyen</h2>
						<p>Dictionary Creole / Portuguese / English<p>
					</div>
					<img src="{% static 'images/slide1.png' %}" alt="Slide 3">
				</li>
	              
			</ul>
		</div>
	</div>
	<div class="entry-content">
		<p>Estamos felizes por poder disponibilizar esse dicionário a todos! O dicionário está em construção, a equipe do DKA Web conta com sua ajuda para perceber as palavras que estão faltando. Agora, permita-nos detalhar uns&nbsp;pontos sobre este <em>site</em>.</p>
		<ul>
			<li>Clique em <strong>Diksyonè</strong> e escolha a letra que deseja para ver os verbetes já disponíveis. Outra opção é digitar, no campo de pesquisa, a palavra que procura. E se você não encontrar a palavra? Relate isso a nós, pelos comentários.</li>
			<li>Após digitar a palavra que procura, clique na palavra. Verá a definição da palavra.</li>
			<li>Verão que apresentamos também a apalavra em inglês.</li>
			<li>Outras seções interessantes são: <strong>origem</strong> e <strong>ortoépia</strong>. Em “origem” pode-se ter acesso à história da palavra, por assim dizer. Em “ortoépia” verifica-se a correta pronúncia da palavra. Um exemplo é “<a href="http://www.dkaweb.org/diksyone/genyen" title="Define genyen" class="dictionary-link entry_genyen" id="entry-36">genyen</a>“, que deve ser lida “gen-yen”, e não “ge-nyen”.</li>
			<li>Dúvidas de gramática? Acesse o <em>blog </em><a href="http://www.dkaweb.org/diksyone/aprann" title="Define aprann" class="dictionary-link entry_aprann" id="entry-44">Aprann</a> Kreyòl <a href="http://www.dkaweb.org/diksyone/ayisyen" title="Define ayisyen" class="dictionary-link entry_ayisyen" id="entry-333">Ayisyen</a> <a href="https://aprannkreyolayisyen.blogspot.com.br/">clicando aqui </a>e conte-nos sua dúvida.</li>
			<li>A equipe DKA Web conta com sua ajuda para atualizar essa obra! Bons estudos a todos!</li>
		</ul>
		<p>&nbsp;</p>
		<p>Equipe DKA Web.</p>
	</div>	
	
{% endblock %}
	
