{% extends 'dicionario/layout.html' %}
{% load staticfiles %}

{% block content %}
	<ul class="language">
		<p><strong>Escolha a linguagem da palavra que deseja procurar</strong>
		<div class="wrap">
			<nav>
				<ul class="primary">
					<li>
						<a href="{% url 'pt' %}">Portguês</a>
					</li>
					<li>
						<a href="{% url 'en' %}">English</a>
					</li>
					<li>
						<a href="{% url 'cr' %}">Kreyòl</a>
					</li>
				</ul>
			</nav>
		</div>
	</ul>
	
	<div class="entry-content">
	<ul class="wd_list">
		<h1>Lista de Palavras começadas com <strong>{{ letra }}</strong></h1>
	</ul>
		<table>
			<tr>
				<th>INGLÊS</th>
				<th>PORTUGUÊS</th>
				<th>CRIOULO</th>
				<th>DESCRIÇÃO</th>
			</tr>
			{% for word in words %}
				<tr>
					<td>{{ word.word_en }}</td>
					<td>{{ word.word_pt }}</td>
					<td>{{ word.word_cr }}</td>
					<td>{{ word.descr }}</td>
				</tr>
			{% empty %}
				<li>Não há palavras cadastradas começando com a letra {{ letra }}.</li>
			{% endfor %}
		</table>
	</div>
{% endblock %}
